@use 'sass:map';

$spc: (
  '0': 0rem,
  '1': 0.25rem,
  '2': 0.5rem,
  '3': 0.75rem,
  '4': 1rem,
  '5': 1.25rem,
  '6': 1.5rem,
  '8': 2rem,
  '10': 2.5rem,
  '12': 3rem,
  '16': 4rem,
  '20': 5rem,
  '24': 6rem,
  '32': 8rem,
);
@function space($size) {
  @return map.get($spc, $size);
}

$spc-per: (
  '0': 0%,
  '1': 2.5%,
  '2': 5%,
  '3': 7.5%,
  '4': 10%,
  '5': 12.5%,
  '6': 15%,
  '8': 20%,
  '10': 25%,
  '12': 30%,
  '16': 40%,
  '20': 50%,
  '24': 60%,
  '32': 80%,
  '40': 100%,
);
@function spacing-percentage($size) {
  @return map.get($spc-per, $size);
}
