@use '../abstracts/variables' as var;
@use '../base/typography' as typo;
@use '../base/spacing' as spc;

.header {
  width: clamp(300px, 100vw, 100%);
  padding: spc.space('5') spc.space('6');

  // box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

  // display: flex;
  // align-items: center;
  // gap: spc.space('4');
}
