.gradient-teal-purple {
  @apply from-teal-400/30 to-purple-500/30;
}

.gradient-blue-cyan {
  @apply from-blue-400/30 to-cyan-500/30;
}

.gradient-orange-red {
  @apply from-orange-400/30 to-red-500/30;
}
