@forward 'base';
@forward 'abstracts';
@forward 'layouts';
@forward 'pages';
@forward 'utility';
// @forward 'breakpoints';

@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/public_sans.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Public Sans', sans-serif;
}
