@use 'sass:map';
$colors: (
  // '50': oklch(0.962 0.018 272.314),
  // '100': oklch(0.93 0.034 272.788),
  // '200': oklch(0.87 0.065 274.039),
  // '300': oklch(0.785 0.115 274.713),
  // '400': oklch(0.673 0.182 276.935),
  // '500': oklch(0.585 0.233 277.117),
  // '600': oklch(0.511 0.262 276.966),
  // '700': oklch(0.457 0.24 277.023),
  // '800': oklch(0.398 0.195 277.366),
  // '900': oklch(0.359 0.144 278.697),
  // '950': oklch(0.257 0.09 281.288),
  '50': oklch(0.984 0.014 180.72),
  '100': oklch(0.953 0.051 180.801),
  '200': oklch(0.91 0.096 180.426),
  '300': oklch(0.855 0.138 181.071),
  '400': oklch(0.777 0.152 181.912),
  '500': oklch(0.704 0.14 182.503),
  '600': oklch(0.6 0.118 184.704),
  '700': oklch(0.511 0.096 186.391),
  '800': oklch(0.437 0.078 188.216),
  '900': oklch(0.386 0.063 188.416),
  '950': oklch(0.277 0.046 192.524)
);

@function color($shade) {
  @return map.get($colors, $shade);
}

$baseColor: (
  'success': oklch(0.538 0.211 142.459),
  'info': oklch(0.585 0.233 277.117),
  'warning': oklch(0.65 0.23 97.521),
  'danger': oklch(0.518 0.25 29.234),
  'neutral': oklch(0.5 0 0),
);

@function baseColor($name) {
  @return map.get($baseColor, $name);
}
